.input {
  outline: none !important;
  border: none !important;
}

.input:focus {
  outline: none !important;
  border: none !important;
}

.input:focus-visible {
  outline: none !important;
  border: none !important;
}

