.input {
  &::focus,
  &::focus-visible {
    border-color: transparent !important;
    border-width: 0px !important;
  }
}
.input:focus {
  outline: none !important;
}
.input:focus-visible {
  outline: none !important;
}
.input::placeholder {
  outline: none !important;
}
.input:disabled {
  outline: none !important;
}
